@font-face {
  font-family: "JDialog-icon"; /* Project id 1723954 */
  src: url('iconfont.eot?t=1630588885469'); /* IE9 */
  src: url('iconfont.eot?t=1630588885469#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('iconfont.woff2?t=1630588885469') format('woff2'),
       url('iconfont.woff?t=1630588885469') format('woff'),
       url('iconfont.ttf?t=1630588885469') format('truetype'),
       url('iconfont.svg?t=1630588885469#JDialog-icon') format('svg');
}

.JDialog-icon {
  font-family: "JDialog-icon" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.JDialog-icon-loading:before {
  content: "\e688";
}

.JDialog-icon-question:before {
  content: "\e61f";
}

.JDialog-icon-windcontrol:before {
  content: "\e634";
}

.JDialog-icon-info:before {
  content: "\e65b";
}

.JDialog-icon-busy_toast:before {
  content: "\e632";
}

.JDialog-icon-alert_toast:before {
  content: "\e633";
}

.JDialog-icon-failure_toast:before {
  content: "\e636";
}

.JDialog-icon-success_toast:before {
  content: "\e63a";
}

